/* WEAPONS */
.listWeapon {
    height: 22px !important;
    line-height: 22px !important;
    cursor: pointer;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssSlideUp {
    transition: .2s linear all;
    height: 22px;
    overflow: hidden;
}

.cssSlideUp.ng-hide {
    height: 0;
}

.cssSlideUp.ng-enter,
.cssSlideUp.ng-leave,
.cssSlideUp.ng-move {
    -webkit-transition: 0s;
    transition: 0s;
    height: 22px;
    opacity: 1;
}

.weaponActive {
    background-color: #808080;
    color: white !important;
    font-weight: bold;
}
/* END WEAPONS */

/* KEYBOARD */
.toolActive {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #c6c6c6;
    font-weight: 500;
}

.key {
    text-transform: uppercase;
}

.keyActive {
    background-color: #616161;
    font-weight: 500;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #9e9e9e !important;;
}

#slide-out {
    overflow: hidden;
}

#slide-out:hover {
    overflow: auto;
}

header, main, footer {
    padding-left: 240px;
}

/*nav {*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*z-index: 9999;*/
/*}*/
/*main {*/
    /*padding-top: 64px;*/
/*}*/

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
    #slide-out {
        overflow: auto;
    }
}

table {
    border-spacing: 4px 2px;
    border-collapse: separate;
    margin-bottom: 0;
}

th, td {
    text-align: center;
    height: 50px !important;
    padding: 0 !important;
    line-height: 40px !important;
    border: solid 1px #000000;
    cursor: pointer;
    background-color: #7f8c8d;
    color: #EEEEEE;
    border-radius: 0 !important;

}

table.fixed-width {
    border-spacing: 4px !important;
}

table.fixed-width th, table.fixed-width td {
    width: 50px !important;
}

td.empty, td.empty:hover {
    border: none;
    background-color: transparent;
    cursor: default;
}

tr td span {
    display: none;
}

tr.row2 td {
    width: 50% !important;
}

tr.row3 td {
    width: calc(100% / 3) !important;
}

tr.row4 td {
    width: 25% !important;
}

/* 7 columns row with 1 big col of size 5 */
tr.row7-1-5 td {
    width: calc(100% / 12) !important;
}

tr.row7-1-5 td.bigcol {
    width: calc((100% / 12) * 5) !important;
}

/* 12 columns row*/
tr.row12 td {
    width: calc(100% / 12) !important;
}

/* 12 columns row with 2 big cols of size 1*/
tr.row12-2-1 td {
    width: calc(100% / 14) !important;
}

tr.row12-2-1 td.bigcol {
    width: calc((100% / 14) * 2) !important;
}

/* 14 columns row with 1 big col of size 1.5 */
.row14-1-1_5 td {
    width: calc(100% / 14.5) !important;
}

.row14-1-1_5 td.bigcol {
    width: calc((100% / 14.5) * 1.5) !important;
}

/* 14 columns row with 1 big col of size 2*/
.row14-1-2 td {
    width: calc(100% / 15) !important;
}

.row14-1-2 td.bigcol {
    width: calc((100% / 15) * 2) !important;

}

/* 14 columns row with 1 big col of size 3*/
.row14-1-3 td {
    width: calc(100% / 16) !important;
}

.row14-1-3 td.bigcol {
    width: calc((100% / 16) * 3) !important;
}