.listWeapon {
    height: 22px !important;
    line-height: 22px !important;
    cursor: pointer;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssSlideUp {
    transition: .2s linear all;
    height: 22px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}

.cssSlideUp.ng-enter,
.cssSlideUp.ng-leave,
.cssSlideUp.ng-move {
    -webkit-transition: 0s;
    transition: 0s;
    height: 22px;
    opacity: 1;
}

#slide-out {
    overflow: hidden;
}
#slide-out:hover {
    overflow: auto;
}

header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    #slide-out {
        overflow: auto;
    }
}

table {
    border-spacing: 2px 1px;
    border-collapse: separate;
    margin-bottom: 0;
}
th, td {
    text-align: center;
    height: 50px !important;
    padding: 0 !important;
    line-height: 40px !important;
    border: solid 1px #000000;
    /*cursor: pointer;*/
    /*background-color: #7f8c8d;*/
    /*color: #EEEEEE;*/
    border-radius: 0 !important;
}

td.empty, td.empty:hover {
    border: none;
    background-color: transparent;
    cursor: default;
}

/* 7 columns row with 1 big col of size 5 */
tr.row7-1-5 td {
    width: calc(100% / 12) !important;
}
tr.row7-1-5 td.bigcol {
    width: calc((100% / 12) * 5) !important;
}

/* 12 columns row*/
tr.row12 td {
    width: calc(100% / 12) !important;
}

/* 12 columns row with 2 big cols of size 1*/
tr.row12-2-1 td {
    width: calc(100% / 14) !important;
}
tr.row12-2-1 td.bigcol {
    width: calc((100% / 14) * 2) !important;
}

/* 14 columns row with 1 big col of size 1.5 */
.row14-1-1_5 td {
    width: calc(100% / 14.5) !important;
}
.row14-1-1_5 td.bigcol {
    width: calc((100% / 14.5) * 1.5) !important;
}

/* 14 columns row with 1 big col of size 2*/
.row14-1-2 td {
    width: calc(100% / 15) !important;
}
.row14-1-2 td.bigcol {
    width: calc((100% / 15) * 2) !important;

}

/* 14 columns row with 1 big col of size 3*/
.row14-1-3 td {
    width: calc(100% / 16) !important;
}
.row14-1-3 td.bigcol {
    width: calc((100% / 16) * 3) !important;
}