<div class="main col s8 center">
    <table>
        <tbody>
        <tr class="row12">
            <td class="">F1</td>
            <td class="">F2</td>
            <td class="">F3</td>
            <td class="">F4</td>
            <td class="">F5</td>
            <td class="">F6</td>
            <td class="">F7</td>
            <td class="">F8</td>
            <td class="">F9</td>
            <td class="">F10</td>
            <td class="">F11</td>
            <td class="">F12</td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr class="row14-1-2">
            <td class="">`</td>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class="">4</td>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">0</td>
            <td class="">-</td>
            <td class="">=</td>
            <td class=" bigcol">Backspace</td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr class="row14-1-1_5">
            <td class=" bigcol">Tab</td>
            <td class="">Q</td>
            <td class="">W</td>
            <td class="">E</td>
            <td class="">R</td>
            <td class="">T</td>
            <td class="">Y</td>
            <td class="">U</td>
            <td class="">I</td>
            <td class="">O</td>
            <td class="">P</td>
            <td class="">[</td>
            <td class="">]</td>
            <td class="">\</td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr class="row14-1-2">
            <td class="bigcol">CapsLock</td>
            <td>A</td>
            <td>S</td>
            <td>D</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
            <td>J</td>
            <td>K</td>
            <td>L</td>
            <td>;</td>
            <td>'</td>
            <td class="bigcol">Enter</td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr class="row12-2-1">
            <td class="bigcol">Shift</td>
            <td>Z</td>
            <td>X</td>
            <td>C</td>
            <td>V</td>
            <td>B</td>
            <td>N</td>
            <td>M</td>
            <td>,</td>
            <td>.</td>
            <td>/</td>
            <td class="bigcol">Shift</td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr class="row7-1-5">
            <td>Ctrl</td>
            <td class="empty"></td>
            <td>Alt</td>
            <td class="bigcol">Space</td>
            <td>Alt</td>
            <td class="empty"></td>
            <td>Ctrl</td>
        </tr>
        </tbody>
    </table>
</div>