<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS:GO Binds Generator</title>
    <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.min.css"/>
    <link rel="stylesheet" href="./css/index.css"/>
    <script src="//localhost:35727"></script>
    <meta name="viewport" content="width=1, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body ng-app="csgoBinds" ng-controller="WeaponsCtrl as wc">
<header>
    <nav class="indigo center">
        <span class="center" style="font-size: 2rem;">CS:GO Binds Generator</span>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
    <div id="slide-out" class="side-nav fixed">
        <div class="input-field">
            <i class="mdi-action-search prefix"></i>
            <input id="icon_prefix" type="text" style="margin-bottom: 0;" ng-model="query">
            <label for="icon_prefix">Search a weapon</label>
        </div>
        <ul ng-repeat="type in weapons" ng-if="!$last">
            <li class="black-text">
                <div class="switch">
                    <strong>{{type.name}}</strong>
                    <label style="float: right;">
                        <input type="checkbox" ng-model="checkbox">
                        <span class="lever"></span>
                    </label>
                </div>
            </li>
            <li class="cssSlideUp" ng-repeat="weapon in type.data | filter:search" ng-hide="!checkbox">
                <a class="listWeapon waves-effect" ng-click="bla(weapon)">
                    <img ng-src="{{imgPath + weapon.img}}" alt="{{weapon.value}}" style="width: 20px;"/>
                    {{weapon.name}}
                </a>
            </li>
            <hr/>
        </ul>
    </div>
</header>
<main>
    <div style="height: 250px; padding: 1%; background-color: grey; color: white;">
        {{cfg}}
    </div>
    <section class="row center">
        <a href="#" class="btn waves-effect col s4">use</a>
        <a href="#" class="btn waves-effect col s4">bind</a>
        <a href="#" class="btn waves-effect col s4">load cfg</a>
        </ul>
    </section>
    <div ng-include="template.url" class="row"></div>
</main>

<div id="widthWarning" class="modal">
    <div class="modal-content">
        <h4>Warning</h4>

        <p id="widthWarningContent">
            Your screensize is too small to correctly use this app, please turn your phone sideway :-)
        </p>

        <p>If your phone is already sideway, try on a computer or a larger screen.</p>

    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK !</a>
    </div>
</div>

<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
<script src="./bower_components/materialize/dist/js/materialize.min.js"></script>
<script src="./js/app.js"></script>
</body>
</html>